<table cellspacing="16" class="table">

    <tbody class="body-align-top">

    <tr>
        <td rowspan="3" class="navbar-width">
            <app-navbar class="block-height-100"></app-navbar>
        </td>

        <td colspan="3">
            <app-search-bar></app-search-bar>
        </td>
    </tr>

    <tr>
        <td>
            <app-action-buttons></app-action-buttons>
        </td>

        <td class="tabs-bar-width">
            <app-tabs-bar class="block-height-100"></app-tabs-bar>
        </td>

        <td rowspan="2" class="extra-bar-width">
            <app-extra-bar class="block-height-100"></app-extra-bar>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <app-list-of-items></app-list-of-items>
        </td>
    </tr>

    </tbody>
</table>
