.table-width {
    width: 100%;
    margin: -16px;
}

.body-align-top {
    vertical-align: top;
}

.navbar-width {
    width: 22%;
}

.tabs-bar-width {
    width: 50%;
}

.extra-bar-width {
    width: 30%;
}