<table style="    width: 100%;" cellspacing="16">

    <tbody style="    vertical-align: top;">

    <tr>
        <td rowspan="3" style="    width: 22%;">
            <app-navbar></app-navbar>
        </td>

        <td colspan="3">
            <app-search-bar></app-search-bar>
        </td>
    </tr>

    <tr>
        <td>
            <app-action-buttons></app-action-buttons>
        </td>

        <td style="    width: 10%;">
            <app-tabs-bar></app-tabs-bar>
        </td>

        <td rowspan="2" style="    width: 23%;">
            <app-extra-bar></app-extra-bar>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <app-list-of-items></app-list-of-items>
        </td>
    </tr>
    
    </tbody>
</table>
