<div class="bordered-container">
    <div class="title-over-border">Responsive CSS Layouts</div>

    <div class="header">
        <img class="logo" src="https://retrospectives.entelect.co.za/img/entelect-logo.88a00240.png"/>
        <h1 class="heading">&nbsp;- Mail </h1>
    </div>

    <p style="padding: 1em 1em 0;">
        ...lets just call it <i>eMail</i>
    </p>

    <div class="navbar"><app-navbar></app-navbar></div>
    <div class="extra-bar"><app-extra-bar></app-extra-bar></div>
    <div class="search-bar"><app-search-bar></app-search-bar></div>
    <div class="list-of-items"><app-list-of-items></app-list-of-items></div>
    <div class="tabs-bar"><app-tabs-bar></app-tabs-bar></div>
    <div class="action-buttons"><app-action-buttons></app-action-buttons></div>
</div>