<div class="bordered-container">
  <div class="title-over-border">CSS Animations</div>

  <div class="bordered-container button-size">
    <div class="title-over-border">New Button</div>
    <app-keyframe-animated></app-keyframe-animated>
  </div>

  <div class="bordered-container button-size">
    <div class="title-over-border">Enabled Button</div>
    <app-transition-animated></app-transition-animated>
  </div>

  <div class="bordered-container button-size">
    <div class="title-over-border">Practical Button</div>
    <app-practical-button></app-practical-button>
  </div>
</div>