.make-spinner {
    width: 50px;
    height: 40px;

    background-color: #007bff;
    border-bottom: solid black 10px;

    transition-duration: 2000ms;
    transition-timing-function: linear;
    transition-property: transform;

    transform: rotate(0deg);
}

.make-spinner:active {
    transform: rotate(360deg);
}