<div class="grid-container">

    <div class="navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="extra-bar">
        <app-extra-bar></app-extra-bar>
    </div>

    <div class="search-bar">
        <app-search-bar></app-search-bar>
    </div>

    <div class="list-of-items">
        <app-list-of-items></app-list-of-items>
    </div>

    <div class="tabs-bar">
        <app-tabs-bar></app-tabs-bar>
    </div>

    <div class="action-buttons">
        <app-action-buttons></app-action-buttons>
    </div>
</div>