.grid-container {
    height: 400px;

    display: grid;
    grid-template-columns: 0.5fr 1fr auto 0.5fr;
    grid-template-rows: 50px min-content auto;
    grid-template-areas: "navbar search-bar search-bar search-bar" "navbar action-buttons tabs-bar extra-bar" "navbar list-of-items list-of-items extra-bar";
    grid-gap: 1em;
}

.navbar {
    grid-area: navbar;
}

.extra-bar {
    grid-area: extra-bar;
}

.search-bar {
    grid-area: search-bar;
}

.list-of-items {
    grid-area: list-of-items;
}

.tabs-bar {
    grid-area: tabs-bar;
}

.action-buttons {
    grid-area: action-buttons;
}