.new-button {
    animation-duration: 4000ms;
    animation-timing-function: ease-in-out;
    animation-name: animate;
}

@keyframes animate {
    0% {
        background-color: transparent;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: transparent;
    }
    100% {
        background-color: #b2e6b8;
    }
}

.enabled-button {
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: background-color;
}

.enabled-button:active {
    background-color: deepskyblue;
}