.new-button {
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-name: animateBackgroundColourChange;
}

@keyframes animateBackgroundColourChange {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: lime;
    }
}

.enabled-button {
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: background-color;
}

.enabled-button:active {
    background-color: dimgray;
}