<div class="links-container">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
    </a>
    <a routerLink="/animations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Animations
    </a>
    <a routerLink="/grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Layouts
    </a>
    <a routerLink="/responsive-layout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Responsive layout
    </a>
</div>

<router-outlet></router-outlet>