p, h1 {
    font-family: Lato, sans-serif;
}

.header {
    background-color: #051d37;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    place-items: center start;
    padding: 0 16px;
}

.header .logo {
    height: 64px;
}

.header .heading {
    color:white;
}