@import "../../../styles/variables";

:host:before {
    content: 'search-bar.component';
}

.input-box {
    margin: 10px;
    width: -webkit-fill-available;
    height: 16px;
    padding: 4px;
    border-radius: 10px;
}

@media (max-width: $screen-xs-max) {
    // Bonus: play around with this component's styling on mobile screens to get even more different layouts

    .responsive.outline-component {
    }

    .responsive.outline-component input {
    }
}