@import "../../../styles/variables";

:host:before {
    content: 'tabs-bar.component';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.tab-item {
    height: 100%;
    width: 100%;
    place-content: center;
    display: grid;
    box-sizing: border-box;
}

@media (max-width: $screen-xs-max) {
    // Bonus: play around with this component's styling on mobile screens to get even more different layouts

    .responsive.outline-component {
    }

    .responsive.outline-component .tab-item {
    }
}