/* Add application styles & imports to this file! */

.clickable-element {
  transition: 0.5s;
  cursor: pointer;
}

.clickable-element:hover {
  background-color: chartreuse
}

.list-item {
  padding: 4px;
  border-radius: 10px;
}

.outline-component {
    border: 1px solid purple;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 100%;
}